<p id="notice"><%= notice %></p>

<h2> <%= @user.first_name %> <%= @user.last_name %></h2>

<h4> <%= @user.email %> </h4>

<h2><%= @user.first_name %>'s Posts </h2>

<% @user.posts.each do |post| %>
	<p><%= link_to post.title, post_path(post) %></p>
<% end %>

<h2><%= @user.first_name %>'s Comments</h2>

<% @user.comments.each do |comment| %>
	<p><%= comment.content %></p>
	<h4> By: <%= comment.user.first_name %> </h4>
	

<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
