<!DOCTYPE html>
<html>
  <head>
    <title>Newrail</title>
    <title><%= yield(:title) %></title>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%=image_tag "metalshoe.jpg", class:"my-img"%>
  </head>

  <body>


  	<div> 

  		<% if @current_user.present? %>
  		<h3><%= @current_user.first_name %> is logged in </h3>
  		<td><%= link_to 'Logout', logout_path, method: :delete, data: { confirm: 'Are you sure you want to logout?' } %></td>
  		<% end %>
  	</div>


    <%= yield %>
  </body>
</html>
